.div-1{
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:20px;
}
.div-2{
  width: 280px;
}
.text{
  font-size: 15px;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
main{
  height: 100%;
}
.div-3{
  margin: 50px auto;
  max-width: 1216px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.div-5{
  padding: 0 5%;
}
.div-6{
  margin: 50px 0;
}
.div-7{
  margin: 0 auto;
  max-width: 1216px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.div-7 img{
  width: 300px;
  border-radius:10%;
  border: double 2px #4006ff;
}
.div-7 img:hover{
  /* position:fixed; */
  margin-top: -20px;
  margin-bottom: 20px;
}

@media (max-width: 590px){
  .div-2{
    width: 220px;
  }
  .text{
    font-size: 12px;
  }
  .texts{
    font-size: 13px;
  }
}
@media (max-width: 500px){
  .div-2{
    width: 200px;
    text-align: center;
  }
  .text{
    font-size: 12px;
  }
  .texts{
    font-size: 13px;
  }
  .textz{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 450px){
  .div-2{
    width: 180px;
  }
 
}
@media (max-width: 380px){
  .div-2{
    width: 170px;
  }
}
